body {
    width:100%;
    margin:0;
    padding:0;
    background:-webkit-linear-gradient(white, #E0E3ED);
}

.header{
    background:#3a5795;
    height: 100px;
    border-bottom: 1px solid #133783;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

.signed{

    height:40px;
}

#header_elements_container{
    width: 80%;
    margin:0 auto;
    padding: 0;
    color: white;
}

.fblight_logo {
    float:left;
    width: 20%;
}

.fblight_logo a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    font-size: x-large;
}

.searchFB{
    margin:10px;
    float:left;
}

.fb-updates{
    margin:10px;
    float:left;
}

.login_container{
   float:left;
}

.login_container img{
    width:30px;
    height:30px;
    border: 1px solid white;
    margin:5px;
}

#loginAvatar{
    float:left;
}

#loginUser{
    color:white;
    margin: 6px;
    padding: 4px;
    float: left;
}

#signup_text{

    margin:5px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.input-signup{
    padding:5px;
    margin:5px;
    width:200px;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.date{
    padding:5px;
    margin:5px;
    width:40px;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

#gender{

    padding:5px;
    margin:5px;
    font-size: 14px;
}

#submit_btn {

    padding:5px;
    margin:5px;
    width:200px;
    height:25px;
}

#FBlight_slogan img{

    width: 537px;
    height: 285px;
    float:left;
    padding-left: 80px;
}

#signup_area{
    float:right;
    padding-right: 80px;
}

#footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    border-top: 1px solid gray;
    font-size: 70%;
}

#copyright {
    float:left;
    text-align: left;
    font-weight: bold;
    font-size: medium;
    color: #3a5795;
}

input:focus:invalid{
    border: 2px solid red;
}

/*For app-signin */
#main_area{

    width: 90%;
    margin: 0px auto;
}

#leftbar{

    float:left;
    height:100%;
    width: 20%;
    overflow:hidden;
}

#main_content{
    margin-left:20%;
}

ul{
    list-style:none;
}

#postStatus{
    margin-top: 5px;
    width: 835px;
    background-color:white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

#inputform{
    margin:2px;
}

.postInfo{
    color:grey;
}

.post{
    margin:2px;
}

.postText{
    height: 70px;
    resize: none;
    width: 99%;
    margin: 0px auto;
}

#statusUpdates{
    margin-top: 5px;
    width: 835px;
    background-color:white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

#statusMyUpdates {
    margin-top: 5px;
    width: 835px;
    background-color:white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

.button{
    width: 20%;
    background-color: #3a5795;
    color:white;
    vertical-align: central;
    text-align: center;
    font-size: 14px;
    border-color: #435a8b #3c5488 #334c83;
    border: 1px solid;
}

#searchResults{
    margin-top: 5px;
    width: 835px;
    background-color:white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

#friendsResults{
    margin-top: 5px;
    width: 835px;
    background-color:white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

#profileHeader, #profileButtons{
    margin-top: 5px;
    width: 835px;
    background-color:white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    position: relative;
}

#profileHeader #mediumAvatar {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 10px;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    z-index: 1;
}

#profileHeader #Cover {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    border: 0px;
}

#searchResults ul {
    padding-left: 0;
}
#searchResults li{
    margin: 5px;
    border-bottom:1px solid #E1E1E1;
}

#searchResults li:hover {
    background-color: #3a5795;
    cursor: pointer;
}
#searchResults div:hover {
    color:white;
}

#friendsResults ul {
    padding-left: 0;
}
#friendsResults li{
    margin: 5px;
    border-bottom:1px solid #E1E1E1;
}

#friendsResults li:hover {
    background-color: #3a5795;
    cursor: pointer;
}
#friendsResults div:hover {
    color:white;

}

.anchorSearch {
    display: block;
    text-decoration: none;
    color:#3a5795;
}

.imgProfileSearch {
    width:30px;
    height:30px;
    border: 1px solid white;
    margin:5px;
}

#logout {
    margin: 6px;
    padding: 4px;
    float: right;
}

#logout a{
    color: white;
}

#friend-Requests {
    color: white;
}

#friendRequestsCount {
    color:red;
}

#editProfile a{
    text-decoration: underline ;
}

#editContainer{
    margin-top: 5px;
    width: 70%;
    background-color:white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

#imgProfile{
    margin: 5px;
    border: 2px solid black;
    position:relative;
    bottom:0;
    left:0;
    height: 150px;
}

#loginAvatar :hover{
    cursor:pointer;
}

#home{
     color:white;
     margin: 6px;
     padding: 4px;
     float: left;
 }

#home:hover{
    background-color: #588be1;
}

#home a{
    color:white;
    text-decoration: none;
}

.allPhotos{
    margin-top: 5px;
    width: 835px;
    background-color:white;
    border: 1px solid whitesmoke;
    /*box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);*/
}

.allPhotos img{
    width: 205px;
    height: 205px;
}

#left_welcome, #leftbar{
    display: inline-block;
    float: left;
}
#left_welcome ul {
    padding: 0px;
}
#leftbar ul{
    padding: 0px;
}

#left_welcome h4{
     text-decoration: none;
     color: #999999;
 }

#left_welcome a{
    text-decoration: none;
    font-size: small;
    display: block;
}

#leftbar h4{
    text-decoration: none;
    color: #999999;
}

#leftbar a{
    text-decoration: none;
    font-size: small;
    display: block;
}

#phototab{
    width: 235px;
    margin: 40px 0px 40px 0px;
    background-color:white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

#myphoto table{
    width: inherit;
}

#myphoto table,img{
    width: 70px;
    height: 70px;
}

.allPhotos{

}

.anchorlike img{

    width:25px;
    height:25px;
}